
article {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction {
    margin: .5em;
}

.info-frame {
    position: relative;
    height: 270px;
    margin-bottom: .5em;
    width: 250px;
}

.info-background {
    background-color: var(--tan);
    box-shadow: -10px 0px 10px gray,
                0px 10px 10px gray;
    height: 250px;
    position: absolute;
    transform: rotate(6deg);
    width: 300px;
    z-index: -1;
}

.intro-background {
    background-color: var(--lime-green);
    border: 3px solid var(--violet);
    font-family: 'Cormorant', serif;
    font-size: .8em;
    height: 250px;
    margin: 0 auto 0 auto;
    padding: 1em;
    text-align: center;
    width: 300px;
}

.intro-background > h2 {
    margin-bottom: .5em;
    text-decoration: underline;
    text-decoration-color: var(--violet);
}

/* ================= Tablet View =============== 
================================================ */

@media only screen and (min-width: 600px) and (max-width: 1079px) {

    /* Image Carousel */

    #carousel-frame, #carousel-controls {
        display: block; 
        margin-left: 1em;
    }

    #carousel-frame {
        margin-bottom: .5em;
        position: relative;
    }

    picture {
        display: none;
    }

    #image-frame {
        position: relative;
        width: 500px;
        overflow: hidden;
    }

    .image-slide {
        height: 100%;
        object-fit: cover;
        width: 500px;
    }

    .slide-btn {
        background-color: var(--tan);
        clip-path: circle(50%);
        width: 20px;
        height: 20px;
    }

    .carousel-button {
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }

    .carousel-button:hover {
        background-color: transparent;
    }

    .next-btn {
        right: -33px;
    }

    .prev-btn {
        left: -33px;
    }


    .carousel-button > img {
        width: 25px;
    }

    .selected {
        background-color: var(--whitish-grey);
    }

    #image-frame, #carousel-navigation {
        display: flex;
    }

    #carousel-navigation {
        justify-content: center;
        gap: .5em;
        margin-bottom: 1.5em;
    }

    #image-frame, #carousel-navigation {
        list-style: none;
    }

    /* Introduction */

    #introduction {
        margin: .5em;
    }
    
    .info-frame {
        width: 70vw;
    }
    
    .info-background {
        width: 100%;
    }
    
    .intro-background {
        font-size: calc(.9em + 5%);
        width: 100%;
    }

}

/* ================= Desktop View =============== 
================================================ */

@media only screen and (min-width: 1080px) {
    
    #carousel-frame, #carousel-controls {
        display: block; 
        margin-left: 1em;
    }

    #carousel-frame {
        margin-bottom: .5em;
        position: relative;
    }

    picture {
        display: none;
    }

    #image-frame {
        position: relative;
        width: 700px;
        overflow: hidden;
    }

    .image-slide {
        height: 100%;
        object-fit: cover;
        width: 700px;
    }

    .slide-btn {
        background-color: var(--tan);
        clip-path: circle(50%);
        width: 20px;
        height: 20px;
    }

    .carousel-button {
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }

    .carousel-button:hover {
        background-color: transparent;
    }

    .next-btn {
        right: -33px;
    }

    .prev-btn {
        left: -33px;
    }


    .carousel-button > img {
        width: 25px;
    }

    .selected {
        background-color: var(--whitish-grey);
    }

    #image-frame, #carousel-navigation {
        display: flex;
    }

    #carousel-navigation {
        justify-content: center;
        gap: .5em;
        margin-bottom: 1.5em;
    }

    #image-frame, #carousel-navigation {
        list-style: none;
    }

    /* Introduction */

    #introduction {
        margin: .5em;
    }
    
    .info-frame {
        width: 70vw;
    }
    
    .info-background {
        width: 100%;
    }
    
    .intro-background {
        font-size: calc(.9em + 5%);
        width: 100%;
    }
}