article {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#introduction {
    align-self: center;
    margin: .5em;
    width: 100%; 
}

.info-frame {
    position: relative;
    height: 270px;
    margin-bottom: .5em;
    width: 300px;
}

.info-background {
    background-color: var(--tan);
    box-shadow: -10px 0px 10px gray,
                0px 10px 10px gray;
    height: 270px;
    position: absolute;
    transform: rotate(6deg);
    width: 300px;
    z-index: -1;
}

.intro-background {
    background-color: var(--lime-green);
    border: 3px solid var(--violet);
    font-family: 'Cormorant', serif;
    font-size: .8em;
    height: 270px;
    margin: 0 auto 0 auto;
    padding: 1em;
    text-align: center;
    width: 300px;
}

.intro-background > h2 {
    margin-bottom: .5em;
    text-decoration: underline;
    text-decoration-color: var(--violet);
}

.icon-frame > img {
    height: 10vh;
}

#health, #products, #luxury {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 0;
    height: 200px;
    margin: 1em;
    overflow: hidden;
}


#health > div, #products > div, #luxury > div {
    text-align: center;
    padding: 1em;
    width: 100%;
}

#health {
    border: 5px solid var(--lime-green);
}

#health > div {
    background-color: var(--violet);
    padding: 1em;
    width: 100%;
}

#products {
    border: 5px solid var(--violet);
}

#products > div {
    background-color: var(--tan);

}

#luxury {
    border: 5px solid var(--tan);
}

#luxury > div {
    background-color: var(--whitish-grey);
}

#health p, #products p, #luxury p {
    font-family: 'Cormorant', serif;
    padding: 0 1em 1em 1em;
}

#health p {
    background-image: url(../Images/health_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#products p {
    background-image: url(../Images/products_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#luxury p {
    background-image: url(../Images/luxury_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ================= Tablet View =============== 
================================================ */

@media only screen and (min-width: 600px) and (max-width: 1079px) {

    /* Image Carousel */

    #carousel-frame, #carousel-controls {
        display: block; 
        margin-left: 1em;
    }

    #carousel-frame {
        margin-bottom: .5em;
        position: relative;
    }

    picture {
        display: none;
    }

    #image-frame {
        width: 500px;
        overflow: hidden;
    }

    .image-slide {
        height: 100%;
        object-fit: cover;
        width: 500px;
    }

    .slide-btn {
        background-color: var(--tan);
        clip-path: circle(50%);
        width: 20px;
        height: 20px;
    }

    .carousel-button {
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }

    .carousel-button:hover {
        background-color: transparent;
    }

    .next-btn {
        right: -33px;
    }

    .prev-btn {
        left: -33px;
    }


    .carousel-button > img {
        width: 25px;
    }

    .selected {
        background-color: var(--whitish-grey);
    }

    #image-frame, #carousel-navigation {
        display: flex;
    }

    #carousel-navigation {
        justify-content: center;
        gap: .5em;
        margin-bottom: 1.5em;
    }

    #image-frame, #carousel-navigation {
        list-style: none;
    }

    /* Introduction */

    #introduction {
        margin: .5em;
    }
    
    .info-frame {
        width: 70vw;
    }
    
    .info-background {
        min-height: 280px;
        width: 100%;
    }
    
    .intro-background {
        font-size: calc(.9em + 5%);
        min-height: 280px;
        width: 100%;
    }

    /* Basic Info */

    #health, #products, #luxury {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        gap: 0;
        margin: 1em;
        height: 200px;
        overflow: hidden;
    }

    #health {
        margin-top: 2em;
    }

    .icon-frame > img {
        height: auto;
        max-width: 200px;
        width: 20vw;
    }

}

/* ================= Desktop View =============== 
================================================ */

@media only screen and (min-width: 1080px) {
    
    #carousel-frame, #carousel-controls {
        display: block; 
        margin-left: 1em;
    }

    #carousel-frame {
        margin-bottom: .5em;
        position: relative;
        
    }

    picture {
        display: none;
    }

    #image-frame {
        width: 700px;
        overflow: hidden;
    }

    .image-slide {
        height: 100%;
        object-fit: cover;
        width: 700px;
    }

    .slide-btn {
        background-color: var(--tan);
        clip-path: circle(50%);
        width: 20px;
        height: 20px;
    }

    .carousel-button {
        background-color: transparent;
        position: absolute;
        top: 50%;
        /* transform: translateY(-50%); */
        width: auto;
        z-index: 1;
    }

    .carousel-button:hover {
        background-color: transparent;
    }

    .next-btn {
        right: -33px;
    }

    .prev-btn {
        left: -33px;
    }


    .carousel-button > img {
        width: 25px;
    }

    .selected {
        background-color: var(--whitish-grey);
    }

    #image-frame, #carousel-navigation {
        display: flex;
    }

    #carousel-navigation {
        justify-content: center;
        gap: .5em;
        margin-bottom: 1.5em;
    }

    #image-frame, #carousel-navigation {
        list-style: none;
    }

    /* Introduction */

    #introduction {
        margin: .5em;
    }
    
    .info-frame {
        width: 70vw;
    }
    
    .info-background {
        width: 100%;
    }
    
    .intro-background {
        font-size: calc(.9em + 5%);
        width: 100%;
    }

    #health, #products, #luxury {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        gap: 0;
    }

    .icon-frame > img {
        height: auto;
        max-width: 200px;
        width: 20vw;
    }
}