:root {
    --lime-green: #D0EFB1;
    --black-purple: #1A090D;
    --whitish-grey: #EAEAEA;
    --violet: #9F84BD;
    --tan: #E8DAB2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--black-purple);
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    position: relative;
}

header, footer {
    background-color: var(--lime-green);
}


.menu-close, .hamburger-icon {
    background-color: var(--lime-green);
    border: none;
    border-left: 1px solid white;
    color: var(--violet);
    font-size: 1.5em;
    text-decoration: underline;

    outline: transparent;
}

.hamburger-icon, .menu-close {
    box-shadow: 2px 2px 10px transparent inset,
                -2px -2px 10px transparent inset;
    font-size: 2em;
    margin: 10px;
    padding: 0px 5px;
    text-decoration: none;
}


 /* ======== Main Menu ======== */



#off-canvas-menu{
    background-color: var(--tan);
    width: 80vw;
    height: 100vh;
}

#off-canvas-menu > ul li {
    list-style: none;
    margin: 2em;
}

#off-canvas-menu > ul li a {
    color: var(--violet);
    font-size: 1.5em;
    padding: .5em 1em .5em 1em;
    text-decoration: none;
  
}

.menu-close {
    background-color: transparent;
}

.menu-overlay {
    background-color: white;
    backdrop-filter: blur(10px);
    display: none;
    height: 100vh;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;

}

/* ============================= */

button:hover {
    background-color: var(--violet);
    border: 2px solid white;
    color: var(--lime-green);

}

header > h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5em;
}

.mobile-image {
    width: 95vw;
}

.mobile-footer {
    text-align: center;
}

.desktop-footer {
    display: none;
}

.contact-details h2 {
    color: var(--violet);
    font-size: 1em;
    margin-bottom: 1em;
    text-decoration: underline;

}

.contact-details a {
    color: var(--black-purple);
    font-size: .8em;
    text-decoration: none;
}

.contact-details a:hover {
    color: white;
    text-decoration: underline;
}

address {
    font-style: normal;
    font-size: .8em;
}

.copyright {
    font-size: .5em;
}

/* ================= Tablet View =============== 
================================================ */

@media only screen and (min-width: 600px) and (max-width: 1079px) {

    .desktop-footer {
        display: block;
        padding: 1em;
    }

    .contact-details {
        font-size: .6em;
    }

    .copyright > span {
        font-size: .8em;
    }

    .team {
        font-size: .6em;
        width: 50%;
    }

    .team > span {
        font-size: .7em;
        padding-right: 1em;
    }

    .team > ul {
        margin-top: 1em;
    }

    .team > ul li {
        color: var(--violet);
        font-size: .8em;
        list-style: none;
        margin-bottom: .8em;
    }


}

/* ================= Desktop View =============== 
================================================ */

@media only screen and (min-width: 1080px) {


    header {
        background-color: white;
    }

    header > h1 {
        font-size: 5em;
        font-weight: 100;
        margin-top: 1%;
        text-shadow: 0px 5px 5px black;
    }

    .top-navigation {
        width: 100%;
    }

    .top-links li {
        display: inline;
        list-style: none;
    }

    .top-links li button {
        background-color: var(--lime-green);
        border: none;
        border: 1px solid white;
        color: var(--violet);
        font-size: 1em;
        font-weight: 100;
        padding: .5em 1em .5em 1em;
        text-decoration: underline;
        min-width: 175px;
    }

    .top-links li button:hover {
        background-color: var(--violet);
        color: var(--lime-green);

    }

    .desktop-footer {
        display: block;
        padding: 1em;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }

    .team {
        width: 50%;
    }

    .team > span {
        font-size: .7em;
        padding-right: 1em;
    }

    .team > ul {
        margin-top: 1em;
    }

    .team > ul li {
        color: var(--violet);
        font-size: .8em;
        list-style: none;
        margin-bottom: .8em;
    }

}